@import "config"

@-webkit-keyframes building
  0%
    background-color: $building
  25%
    background-color: adjust-hue($building, 10)
  50%
    background-color: $building
  75%
    background-color: adjust-hue($building, -10)
  100%
    background-color: $building