@import "config"

body
  box-sizing: border-box
  font-family: 'Lato', 'Helvetica Neue', Helvetica, arial, sans-serif
  margin: 0
  padding: 0
  background: $body
  color: $text-color

.builds
  align-content: center
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  height: 100%
  justify-content: space-between
  margin: 0
  position: absolute
  padding: 0
  width: 100%

.row
  display: flex
  flex: 1 0 0px
  flex-direction: row
  width: 100%

.build
  display: flex
  flex-direction: column
  flex: 1 0 0px
  align-items: center
  justify-content: center

  margin: 1em
  overflow: hidden
  position: relative

  h2
    font-size: 2em
    font-size: 4vmin
    line-height: 2em
    line-height: 7vmin
    width: 90%
    padding: 0 5%
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  i
    font-size: 1.5em
    font-size: 3vmin
    font-style: normal
    opacity: .7
  small
    display: block
    font-size: 1.5em
    font-size: 2.5vmin
    opacity: .8
    width: 100%
    min-height: 3vmin
  time
    display: block
    font-size: 1.2em
    font-size: 2vmin
    opacity: .7
    position: absolute
    bottom: 10%
    left: 0
    text-align: center
    width: 100%

.build__name
  font-weight: 700
  margin: 0

.bubble
  text-align: center
  transition: background-color 0.5s ease-in-out
  width: 100%
  display: block

.build--inactive
  background: $inactive

.build--failure
  background: $failure

.build--success
  background: $success

.build--building
  background: $building
  -webkit-animation: status-building-background 2s ease infinite
  -moz-animation: status-building-background 2s ease infinite
  -ms-animation: status-building-background 2s ease infinite

@-webkit-keyframes status-building-background
  0%
    background-color: $building
  50%
    background-color: darken($building, 10%)
  100%
    background-color: $building

@keyframes status-building-background
  0%
    background-color: $building
  50%
    background-color: darken($building, 10%)
  100%
    background-color: $building

