<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="en">
<head>
  <title>Buildbox Status</title>
  <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,600,700' rel='stylesheet' type='text/css'>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/moment.js -->
  <script src="bower_components/moment/moment.js"></script>
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

</head>
<body>
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="builds"></div>

  <script type="text/javascript">window.BuildboxMonitor = {}</script>
  <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/settings.js"></script>
    <script src="scripts/utilities.js"></script>
    <script src="scripts/micro_templates.js"></script>
    <script src="scripts/buildbox.js"></script>
    <script src="scripts/main.js"></script>
  <!-- endbuild -->

  <script type="text/html" id="build_template">
    <section class="build build--<%= lastStatus %> build--<%= activity %>">
      <div id="<%= name %>" class="bubble bubble--<%= lastStatus %> bubble--<%= activity %>">
        <i><%= currentStatus %></i>
        <h2 class="build__name"><%= BuildboxMonitor.utilities.humanize(name) %></h2>
        <small><%= lastBuildLabel %></small>

        <time>Last build: <%= lastBuildTimeStamp %></time>
      </div>
    </section>
  </script>

  <script type="text/html" id="row_template">
    <div class="row row<%= rowNumber %>" id="row<%= rowNumber %>"></div>
  </script>

</body>
</html>
